.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("Assets/mile1-assets/home-banner.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home-page-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 586.67px;
  height: 300px;
  padding: 35px 0px 0.73px 0px;
  gap: 0px;
  opacity: 0px;
}

.home-page h1 {
  font-weight: 300;
  width: 693.12px;
  height: 195px;
  text-align: center;
  color: #faf7f2;
  font-size: 86px;
  font-family: "Roboto Condensed";
  line-height: 92px;
  letter-spacing: 1.5px;
}
.home-page span {
  display: block;
}

.siparis-button {
  background-color: #fdc913;
  color: #292929;
  border-radius: 50px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 193px;
  height: 56px;
  border: 0;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 600;
}

.siparis-button:hover {
  background-color: #e0a300;
  color: #292929;
}

.homeArticle {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
}

.homeArticle p {
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-weight: 500;
}

.cardPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 100px 0;
  background-color: #FAF7F2;
}

.cardPage2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
}

.card-1 {
  width: 636px;
  height: 536px;
  background-image: url("./Assets/mile2-aseets/cta/kart-1.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 15px;
}

.card-2 {
  width: 636px;
  height: 256px;
  background-image: url("./Assets/mile2-aseets/cta/kart-2.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 15px;

}

.card-2 p {
  font-size: 30px;
  font-family: "Barlow";
  color: white;
  font-weight: 500;
  margin: 0;
}

.card-3 {
  width: 636px;
  height: 257px;
  background-image: url("./Assets/mile2-aseets/cta/kart-3.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 15px;
}

.card-3 p {
  font-size: 30px;
  font-family: "Barlow";
  color: black;
  font-weight: 500;
  margin: 0;
}

.elements-1 {
  width: max-content;
  margin: 50px 0 0 50px;
}

.elements-1 .ozel {
  font-family: "Quattrocento";
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.elements-1 .burger {
  font-family: "Barlow";
  color: white;
  margin: 0;
  font-size: 18px;
}

.siparis {
  background-color: white;
  border: none;
  color: #ce2829;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
  font-weight: bold;
}