@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

header {
  background: #CE2829;
  width: 100vw;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}

.orderSuccess {
  background-color: #ce2829;
  color: #faf7f2;
  text-align: center;
  padding: 50px;
  font-family: "Barlow", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderSuccess-text h2 {
  font-family: Satisfy;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.27px;
  text-align: center;
  color: #fdc913;
}

.orderSuccess-text h3 {
  font-family: Roboto Condensed;
  font-size: 86px;
  font-weight: 300;
  line-height: 92px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: 0%;
}

.orderDetails {
  background-color: #ce2829;
  padding: 20px;
  border-radius: 8px;
}

.acıPizza {
  font-family: Barlow;
  font-size: 22px;
  font-weight: 600;
  line-height: 29.44px;
  text-align: center;
}

.orderDetails ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #faf7f2;
}

.orderDetails ul li {
  margin: 10px 0;
}

.orderTotal {
  border: 2px solid #faf7f2;
  padding: 20px;
  margin-top: 30px;
  display: inline-block;
  width: 60%;
  color: #faf7f2;
}

.orderTotal p {
  margin: 10px 0;
  font-size: 24px;
  font-family: "Barlow", sans-serif;
}
